:root{
	--colorTitle: #4c92d9;
	--colorTableCell: rgb(243,243,243);
	--colorTableSelectedTop: rgb(255, 255, 255);
	--colorTableSelectedBottom: rgb(248, 248, 248);
	--colorToday: rgba(230,145,56,.8);
}
.page-title-bar{
	padding-bottom: 1.5rem;
}
.page-title{
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: .5rem;
	color: var(--colorTitle);
}
.page-title-md{
	font-size: 1.7rem;
	margin-top: 0;
	margin-bottom: .5rem;
	color: var(--colorTitle);
}  
.page-title-sm{
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: .5rem;
	color: var(--colorTitle);
}
.title{
	color: var(--colorTitle);
}
.page-subtitle{
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
	color: #888c9b;
}
.page-section,.page-title-bar{
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}
.modal-title{
	font-size: 18px;
	font-weight: 500;
}
.modal-body > div:last-child{
	margin-bottom: 0;
}
.close{
	background: transparent;
	font-size: 21px;
	font-weight: 700;
	color: red;
	border: transparent;
}
/* .message{
    position: fixed;
    top: 2px;
    left: 3.1%;
    width: 94%;
    color: #fff;
    font-size: 13px;
    font-family: helvetica;
    text-align: center;
    text-shadow: 0 1px 10px rgba(0, 0, 0, .9);
    border-radius: 0 0 3px 3px;
    padding: 8px;
    z-index: 1060;
    display: none;
} */
.fail{
    background-color: #be4b49;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .95), 0 1px 10px rgba(0, 0, 0, .55);
}
.okey{
    background-color: #4CE32B;
    box-shadow: 0 0 0 1px rgba(3, 200, 0, .95), 0 1px 10px rgba(0, 0, 0, .55);
}
.btn-add{
	padding: 1rem 0 2rem;
	text-align: right;
}

.table tr th,td{
	white-space: nowrap;
}
.dataTables_scrollHeadInner{
	width: 100% !important;
}
table th{
    background-color: var(--colorAppAside);
}
table#hola .notselectable{
	vertical-align: middle;
	background-color: var(--colorAppAside);
}
table#hola thead th, table#hola tbody tr {
	min-width: 29px;
	vertical-align: middle;
}

/*----------------------------cambios realizados-----------------------*/
table#tbHotel tbody tr>td:last-child{
  text-align: center;
}
table#tb_channel tbody tr>td:last-child{
  text-align: center;
}
.ico{
	width: 15px;
}
div[id^="reception-content-piso"] > div{
	padding: 0 7px;
	margin-bottom: 14px;
}
/*---------------recepcion-------------*/
html body .m-r-20 {
    margin-right: 20px;
}

.text-white{
	color: white;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.d-flex{
	display: flex!important;
}
.bg-info{
	background-color: #398bf7 !important;
}

._bar{
	top: 0;
	left: 0;
	right: 0;
	background: #2e9afe;
	height: 4px;
	position: absolute;
}
.item-divider{
	border-top: 1px solid transparent;
	margin-bottom: 1rem;
}

@media (min-width: 1280px) {
	.content-banner{
		width: 16.66%;
	}
	.banner > :last-child{
		top: -5px;
		right: 5px;
		font-size: 6.5rem;
	}
	.banner > label:nth-child(1){
		font-size: 2.5rem;
	}
}
@media (min-width: 1224px) {
	.banner > label:nth-child(1){font-size: 2.5rem;margin-top: 4px;}
}
@media (max-width: 1200px) {
	.clearfix-md:before,
	.clearfix-md:after {display: table;content: " ";}
	.clearfix-md:after {clear: both;}
}
@media (min-width: 1019px) {
	.content-banner{width: 20%;}
	.banner > :last-child{
		top: -5px;
		right: 5px;
		font-size: 6.5rem;
	}
}
@media (max-width: 992px) {
  	.content-banner{width: 25%;}
}
@media (max-width: 768px) {
  	.content-banner{width: 50%;}
	div#reception-content > div{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	div[id$="_wrapper"] .row:first-child * {
		padding-left: 0 !important;
		text-align: left;
	}
}
@media (max-width: 767px) {
	.app-aside{
		width: 24rem;
		max-width: 30rem;
		transform: translate3d(-100%,0,0);
		transition: transform .4s ease-in-out;
	}
	.app-aside.show{transform: translateZ(0);}
	.navbar-header{width: auto; background: transparent;}
	.top-bar-list{flex-direction: row-reverse;}
}

#loading{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 400px;
}
